.main-container {
  background-color: #ffffe0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
  margin: 1rem;
}
.main-text-title {
  font-size: 4rem;
  color: #dc143c;
}
.main-content {
  display: flex;
  flex-direction: row;
  background-color: #6495ed;
}
.main-image {
  width: 25rem;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 3rem;
  margin: 1rem;
  font-size: 2rem;
  color: #000000;
}

.main-card-text-row {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.5rem;
}

.main-card-text-special {
  font-size: 4rem;
  color: #ffd700;
}

.main-product-row {
  display: flex;
  width: 70rem;
  flex-direction: row;
  height: 15rem;
  overflow-x: scroll;
  margin: 1rem;
}

.main-product-image {
  width: 10rem;
  margin: 1rem;
}
